<section class="mt-14 mx-auto px-4 container">
  <div class="sm:flex items-center justify-between">
    <div>
      <div class="flex items-center gap-x-3">
        <h2 class="text-lg font-medium text-gray-800 dark:text-white">Users</h2>
        <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">
          {{ totalUsers }} users</span>
      </div>
      <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">These users are registered in the system.</p>
    </div>

    <div class="mt-4 flex items-center gap-x-3">
      <button class="small-btn">
        <span class="material-symbols-outlined mr-1">cloud_upload</span>
        <span>Import</span>
      </button>
      <button class="small-btn">
        <span class="material-symbols-outlined mr-1">add</span>
        <span>Add user</span>
      </button>
    </div>
  </div>
  <users-filter-form (submitEvent)="onFilterUsersFormSubmit($event)"></users-filter-form>

  <div class="mt-6 flex flex-col">
    <div class="overflow-x-auto">
      <div class="py-2 inline-block min-w-full align-middle">
        <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
          <users-table [users]="users" (deleteUserEvent)="deleteUser($event)"></users-table>
        </div>
      </div>
    </div>
  </div>

  <paginator-component (goToXPageEvent)="goToXPage($event)"></paginator-component>
</section>