<form *ngIf="!loading" [formGroup]="updateProjectForm" (ngSubmit)="onSubmit()">
  <div class="my-6 bg-white shadow-md rounded px-8 pt-6 pb-8 flex flex-col">
    <div class="-mx-3 mb-4 md:grid">
      <div class="px-3">
        <label class="block tracking-wide text-xs font-bold mb-2" for="grid-name">
          Name:
        </label>
        <input class="appearance-none block w-full border rounded p-2 text-sm" id="grid-name" formControlName="name"
          placeholder="Name">
        <div *ngIf="nameControl.invalid && (!firstTimeSubmit || nameControl.dirty || nameControl.touched)"
          class="mt-1 text-danger italic text-xs">
          <div *ngIf="nameControl.errors?.['required']">* Name is required.</div>
        </div>
      </div>
    </div>
    <div class="-mx-3 mb-4 md:grid grid-cols-3">
      <div class="px-3 mb-4 md:mb-0">
        <label class="block tracking-wide text-xs font-bold mb-2" for="grid-kind">
          Kind:
        </label>
        <input class="appearance-none block w-full border rounded p-2 text-sm" id="grid-kind" formControlName="kind"
          placeholder="Kind">
        <p class="mt-1 text-xs italic">Ex: Web App, Mobile App, v.v</p>
        <div *ngIf="kindControl.invalid && (!firstTimeSubmit || kindControl.dirty || kindControl.touched)"
          class="mt-1 text-danger italic text-xs">
          <div *ngIf="kindControl.errors?.['required']">* Kind is required.</div>
        </div>
      </div>
      <div class="px-3 mb-4 md:mb-0">
        <label class="block tracking-wide text-xs font-bold mb-2" for="grid-architecture">
          Architecture:
        </label>
        <input class="appearance-none block w-full border rounded p-2 text-sm" id="grid-architecture"
          formControlName="architecture" placeholder="Architecture">
        <p class="mt-1 text-xs italic">Ex: Monolith, Micro-Services</p>
        <div
          *ngIf="architectureControl.invalid && (!firstTimeSubmit || architectureControl.dirty || architectureControl.touched)"
          class="mt-1 text-danger italic text-xs">
          <div *ngIf="architectureControl.errors?.['required']">* Architecture is required.</div>
        </div>
      </div>
      <div class="px-3">
        <label class="block tracking-wide text-xs font-bold mb-2" for="grid-technology">
          Technology:
        </label>
        <input class="appearance-none block w-full border rounded p-2 text-sm" id="grid-technology"
          formControlName="technology" placeholder="Technology">
        <p class="mt-1 text-xs italic">Ex: RESTful API, Jwt, v.v</p>
        <div
          *ngIf="technologyControl.invalid && (!firstTimeSubmit || technologyControl.dirty || technologyControl.touched)"
          class="mt-1 text-danger italic text-xs">
          <div *ngIf="technologyControl.errors?.['required']">* Technology is required.</div>
        </div>
      </div>
    </div>
    <div class="-mx-3 mb-4 md:grid grid-cols-6">
      <div class="px-3 mb-4 md:mb-0 col-span-3">
        <label class="block tracking-wide text-xs font-bold mb-2" for="grid-language">
          Language:
        </label>
        <input class="appearance-none block w-full border rounded p-2 text-sm" id="grid-language"
          formControlName="language" placeholder="Language">
        <p class="mt-1 text-xs italic">Ex: Angular, Spring Boot</p>
        <div *ngIf="languageControl.invalid && (!firstTimeSubmit || languageControl.dirty || languageControl.touched)"
          class="mt-1 text-danger italic text-xs">
          <div *ngIf="languageControl.errors?.['required']">* Language is required.</div>
        </div>
      </div>
      <div class="px-3 mb-4 md:mb-0 col-span-2">
        <label class="block tracking-wide text-xs font-bold mb-2" for="grid-database">
          Database:
        </label>
        <input class="appearance-none block w-full border rounded p-2 text-sm" id="grid-database"
          formControlName="database" placeholder="Database">
        <p class="mt-1 text-xs italic">Ex: PostgreSQL, MongoDB, v.v</p>
        <div *ngIf="databaseControl.invalid && (!firstTimeSubmit || databaseControl.dirty || databaseControl.touched)"
          class="mt-1 text-danger italic text-xs">
          <div *ngIf="databaseControl.errors?.['required']">* Database is required.</div>
        </div>
      </div>
      <div class="px-3 col-span-1">
        <label class="block tracking-wide text-xs font-bold mb-2" for="grid-status">
          Status:
        </label>
        <select class="appearance-none block w-full border rounded p-2 text-sm" id="grid-status"
          formControlName="closeStatus">
          <option [ngValue]="true">Close</option>
          <option [ngValue]="false">Open</option>
        </select>
        <div
          *ngIf="closeStatusControl.invalid && (!firstTimeSubmit || closeStatusControl.dirty || closeStatusControl.touched)"
          class="mt-1 text-danger italic text-xs">
          <div *ngIf="closeStatusControl.errors?.['required']">* Close status is required.</div>
        </div>
      </div>
    </div>
    <div class="-mx-3 mb-6 md:grid">
      <div class="px-3">
        <label class="block tracking-wide text-xs font-bold mb-2" for="grid-note">
          Note:
        </label>
        <textarea rows="3" class="appearance-none block w-full border rounded p-2 text-sm" id="grid-note"
          formControlName="note" placeholder="Note"></textarea>
      </div>
    </div>
    <div class="-mx-3 md:flex items-center">
      <div class="inline-flex w-1/2 px-3">
        <button type="submit" class="w-full p-2 bg-primary hover:bg-blue-700 text-white rounded">Save</button>
      </div>
      <div class="inline-flex w-1/2 px-3">
        <button type="button" (click)="onResetBtnClick()"
          class="w-full p-2 bg-danger hover:bg-rose-700 text-white rounded">Reset</button>
      </div>
    </div>
  </div>
</form>