<div class="mt-6 sm:flex sm:items-center sm:justify-between">
  <div class="text-sm text-gray-500 dark:text-gray-400">
    Page <span class="font-medium text-gray-700 dark:text-gray-100">{{ currentPage + 1 }} of {{ totalPages }}</span>
  </div>

  <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
    <button (click)="onPreviousBtnClick()" [disabled]="isFirstPage()"
      class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800"
      [ngClass]="isFirstPage() ? 'opacity-50 cursor-not-allowed' : ''">
      <span class="material-symbols-outlined font-normal">skip_previous</span>
      <span>Previous</span>
    </button>

    <button (click)="onNextBtnClick()" [disabled]="isLastPage()"
      class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800"
      [ngClass]="isLastPage() ? 'opacity-50 cursor-not-allowed' : ''">
      <span>Next</span>
      <span class="material-symbols-outlined font-normal">skip_next</span>
    </button>
  </div>
</div>