<div class="mt-6 sm:flex sm:items-center sm:justify-between">
  <div class="text-sm text-gray-600 dark:text-gray-400">
    <span>Page </span>
    <span class="font-medium text-gray-800 dark:text-gray-200">
      {{ pageModel.pageNumber + 1 }} of {{ pageModel.totalPages }}
    </span>
  </div>

  <div class="mt-4 sm:mt-0 flex items-center gap-x-4">
    <button (click)="onPreviousBtnClick()" [disabled]="pageModel.isFirstPage()"
      class="small-btn enabled:hover:text-primary"
      [ngClass]="{'opacity-50 cursor-not-allowed': pageModel.isFirstPage()}">
      <span class="material-symbols-outlined">skip_previous</span>
      <span class="ml-1 leading-6">Previous</span>
    </button>

    <button (click)="onNextBtnClick()" [disabled]="pageModel.isLastPage()" class="small-btn enabled:hover:text-primary"
      [ngClass]="{'opacity-50 cursor-not-allowed': pageModel.isLastPage()}">
      <span class="leading-6">Next</span>
      <span class="ml-1 material-symbols-outlined">skip_next</span>
    </button>
  </div>
</div>