<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
  <thead class="bg-gray-50 dark:bg-gray-800">
    <tr>
      <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
        ID</th>
      <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
        Email</th>
      <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
        Name</th>
      <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
        Role</th>
      <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
        Status</th>
      <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
        Created At</th>
      <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
        Updated At</th>
      <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
        Action</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
    <tr *ngFor="let user of users">
      <td class="p-4 text-sm font-medium whitespace-nowrap">
        <div>
          <h3 class="font-normal text-gray-800 dark:text-white">{{ user.id }}</h3>
        </div>
      </td>
      <td class="p-4 text-sm whitespace-nowrap">
        <h3 class="font-normal text-gray-800 dark:text-white">{{ user.email }}</h3>
      </td>
      <td class="p-4 text-sm whitespace-nowrap">
        <h3 class="font-normal text-gray-800 dark:text-white">{{ user.name }}</h3>
      </td>
      <td class="p-4 text-sm whitespace-nowrap">
        <h3 class="font-normal text-gray-800 dark:text-white">{{ user.role }}</h3>
      </td>
      <td class="p-4 text-sm whitespace-nowrap">
        <h3 class="font-normal" [ngClass]="user.enableFlag ? 'text-success' : 'text-disable'">
          {{ user.enableFlag ? 'Enabled' : 'Disabled' }}
        </h3>
      </td>
      <td class="p-4 text-sm whitespace-nowrap">
        <h3 class="font-normal text-gray-800 dark:text-white">{{ user.createdAt }}</h3>
      </td>
      <td class="p-4 text-sm whitespace-nowrap">
        <h3 class="font-normal text-gray-800 dark:text-white">{{ user.updatedAt }}</h3>
      </td>
      <td class="p-4 text-sm whitespace-nowrap">
        <div class="flex items-center gap-1">
          <ng-container *ngIf="user.enableFlag; then disableBtnBlock; else enableBtnBlock"></ng-container>
          <ng-template #disableBtnBlock>
            <button (click)="disableUser(user.id)" class="text-white p-2 rounded bg-disable w-16">Disable</button>
          </ng-template>
          <ng-template #enableBtnBlock>
            <button (click)="enableUser(user.id)" class="text-white p-2 rounded bg-success w-16">Enable</button>
          </ng-template>
          <button (click)="deleteUser(user.id)" class="bg-danger text-white p-2 rounded">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>