<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ project?.name }}</h5>
    </a>
    <h3 class="text-gray-700 text-sm">
      <span class="font-medium">Type: </span>Web Application
    </h3>
    <h3 class="text-gray-700 text-sm">
      <span class="font-medium">Architecture: </span>Micro-services
    </h3>
    <h3 class="text-gray-700 text-sm">
      <span class="font-medium">Technologies: </span>RESTful API, Jwt
    </h3>
    <h3 class="text-gray-700 text-sm">
      <span class="font-medium">Language: </span>Angular v16.0, Spring Boot v6.0
    </h3>
    <h3 class="text-gray-700 text-sm">
      <span class="font-medium">Database: </span>PostgreSQL, Google Firebase
    </h3>
    <h3 class="mt-1 text-gray-700 text-sm">
      <span class="font-medium">Status: </span>
      <span [ngClass]="project?.closeFlag ? '' : 'text-green-600'">
        {{ project?.closeFlag ? 'Closed' : 'Open' }}
      </span>
    </h3>

    <p class="mt-2 text-gray-700 text-sm">{{ project?.note }}</p>
    <button class="p-2 inline-flex items-center rounded bg-primary text-gray-200">
      <span class="material-symbols-outlined font-medium">info</span>
      <span class="ml-1">Details</span>
    </button>
  </div>
</div>