<section class="container px-4 mx-auto">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div>
      <div class="flex items-center gap-x-3">
        <h2 class="text-lg font-medium text-gray-800 dark:text-white">Projects</h2>
        <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">
          {{ totalProjects }} projects</span>
      </div>
      <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">These projects are recorded in the system.</p>
    </div>

    <div class="flex items-center mt-4 gap-x-3">
      <button
        class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700">
        <span class="material-symbols-outlined font-normal">cloud_upload</span>
        <span>Import</span>
      </button>
      <button
        class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600">
        <span class="material-symbols-outlined font-normal">add</span>
        <span>Add user</span>
      </button>
    </div>
  </div>

  <div class="mt-6 md:flex md:items-center md:justify-between">
    <div
      class="inline-flex overflow-hidden bg-white border divide-x rounded-lg dark:bg-gray-900 rtl:flex-row-reverse dark:border-gray-700 dark:divide-gray-700">
      <button
        class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 bg-gray-100 sm:text-sm dark:bg-gray-800 dark:text-gray-300">
        View all
      </button>
      <button
        class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 sm:text-sm dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">
        Monitored
      </button>
      <button
        class="px-5 py-2 text-xs font-medium text-gray-600 transition-colors duration-200 sm:text-sm dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">
        Unmonitored
      </button>
    </div>

    <div class="relative flex items-center mt-4 md:mt-0">
      <span class="absolute flex items-center">
        <span class="material-symbols-outlined mx-3 text-gray-400 dark:text-gray-600">search</span>
      </span>
      <input type="text" placeholder="Search"
        class="block w-full py-2 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
    </div>
  </div>

  <div class="flex flex-col mt-6">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead class="bg-gray-50 dark:bg-gray-800">
              <tr>
                <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
                  ID</th>
                <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
                  Name</th>
                <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
                  Note</th>
                <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
                  Status</th>
                <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
                  Created At</th>
                <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
                  Updated At</th>
                <th scope="col"
                  class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-600 dark:text-gray-400">
                  Action</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
              <tr *ngFor="let project of projects">
                <td class="p-4 text-sm font-medium whitespace-nowrap">
                  <div>
                    <h3 class="font-normal text-gray-800 dark:text-white">{{ project.id }}</h3>
                  </div>
                </td>
                <td class="p-4 text-sm whitespace-nowrap">
                  <h3 class="font-normal text-gray-800 dark:text-white">{{ project.name }}</h3>
                </td>
                <td class="p-4 text-sm whitespace-nowrap">
                  <h3 class="font-normal text-gray-800 dark:text-white">{{ project.note }}</h3>
                </td>
                <td class="p-4 text-sm whitespace-nowrap">
                  <h3 class="font-normal" [ngClass]="project.closeFlag ? 'text-success' : 'text-danger'">
                    {{ project.closeFlag ? 'Open' : 'Closed' }}
                  </h3>
                </td>
                <td class="p-4 text-sm whitespace-nowrap">
                  <h3 class="font-normal text-gray-800 dark:text-white">{{ project.createdAt }}</h3>
                </td>
                <td class="p-4 text-sm whitespace-nowrap">
                  <h3 class="font-normal text-gray-800 dark:text-white">{{ project.updatedAt }}</h3>
                </td>
                <td class="p-4 text-sm whitespace-nowrap">
                  <div class="flex items-center gap-1">
                    <ng-container *ngIf="project.closeFlag; then openBtnBlock; else closeBtnBlock"></ng-container>
                    <ng-template #openBtnBlock>
                      <button (click)="onOpenBtnClick(project.id)"
                        class="text-white p-2 rounded bg-success w-16">Open</button>
                    </ng-template>
                    <ng-template #closeBtnBlock>
                      <button (click)="onCloseBtnClick(project.id)"
                        class="text-white p-2 rounded bg-disable w-16">Disable</button>
                    </ng-template>
                    <button (click)="onDeleteBtnClick(project.id)"
                      class="bg-danger text-white p-2 rounded">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <shared-paginator #paginator (nextBtnClickEvent)="goToNextPage()"
    (previousBtnClickEvent)="goToPreviousPage()"></shared-paginator>
</section>