<section class="mt-14 mx-auto px-4 container">
  <div class="sm:flex items-center justify-between">
    <div>
      <div class="flex items-center gap-x-3">
        <h2 class="text-lg font-medium text-gray-800 dark:text-white">Projects</h2>
        <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">
          {{ totalProjects }} projects</span>
      </div>
      <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">These projects are recorded in the system.</p>
    </div>

    <div class="mt-4 flex items-center gap-x-3">
      <button class="small-btn">
        <span class="material-symbols-outlined mr-1">cloud_upload</span>
        <span>Import</span>
      </button>
      <a routerLink="./create" class="small-btn">
        <span class="material-symbols-outlined mr-1">add</span>
        <span>Add project</span>
      </a>
    </div>
  </div>

  <div class="mt-8 grid grid-flow-row auto-rows-fr gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <project-card *ngFor="let project of projects;" [project]="project"
      (deleteProjectEvent)="deleteProject($event)"></project-card>
  </div>

  <paginator-component (goToXPageEvent)="goToXPage($event)"></paginator-component>
</section>
