<section class="mt-14 mx-auto px-4 container">
  <div class="sm:flex items-center justify-between">
    <div>
      <div class="flex items-center gap-x-3">
        <h2 class="text-lg font-medium text-gray-800 dark:text-white">Projects</h2>
        <span class="px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">
          {{ totalProjects }} projects</span>
      </div>
      <p class="mt-1 text-sm text-gray-600 dark:text-gray-300">These projects are recorded in the system.</p>
    </div>

    <div class="mt-4 flex items-center gap-x-3">
      <button
        class="px-4 py-2 flex items-center w-1/2 text-sm tracking-wide rounded-lg gap-x-2 sm:w-auto text-gray-800 border border-gray-200 hover:bg-gray-100">
        <span class="material-symbols-outlined">cloud_upload</span>
        <span>Import</span>
      </button>
      <a routerLink="./create"
        class="px-4 py-2 flex items-center w-1/2 text-sm tracking-wide rounded-lg gap-x-2 sm:w-auto text-gray-50 bg-blue-500 hover:bg-blue-600">
        <span class="material-symbols-outlined">add</span>
        <span>Add project</span>
      </a>
    </div>
  </div>
  <projects-filter-form></projects-filter-form>

  <div class="mt-8 grid grid-flow-row auto-rows-fr gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <project-card *ngFor="let project of projects;" [project]="project"
      (deleteProjectEvent)="deleteProject($event)"></project-card>
  </div>

  <shared-paginator (goToXPageEvent)="goToXPage($event)"></shared-paginator>
</section>