<div class="mt-4 md:mt-0 relative flex items-center">
  <span class="absolute flex items-center">
    <span class="mx-3 material-symbols-outlined text-gray-400 dark:text-gray-600">search</span>
  </span>
  <input type="text" placeholder="Search"
    class="py-2 pr-5 block w-full text-gray-800 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:outline-none focus:border-blue-300">
</div>