<div class="p-2 flex items-center justify-between w-full h-full bg-gray-900 text-gray-200 shadow">
  <div class="px-4 flex items-center">
    <div class="hidden lg:flex items-center">
      <span class="-mx-1 p-1 material-symbols-outlined rounded-md bg-blue-600">verified</span>
      <h1 class="ml-4 font-semibold text-gray-200 text-base">BugTracker</h1>
    </div>
    <div class="lg:hidden flex items-center">
      <button (click)="onMenuBtnClick()" class="flex text-4xl left-4 cursor-pointer">
        <span class="material-symbols-outlined">menu</span>
      </button>
    </div>
  </div>

  <div class="space-x-5 mr-3 flex">
    <button class="inline-flex items-center">
      <span class="material-symbols-outlined lg:text-3xl">notifications</span>
    </button>
    <button class="inline-flex items-center">
      <span class="material-symbols-outlined lg:text-3xl">account_circle</span>
    </button>
  </div>
</div>