<div class="px-2 flex flex-col w-full bg-gray-900">
  <div class="mb-3 bg-gray-600 h-[1px]"></div>
  <a routerLink="./" [routerLinkActive]="['bg-blue-600']" [routerLinkActiveOptions]="{exact: true}"
    class="mt-2 py-2 px-4 flex items-center rounded-md duration-300 cursor-pointer hover:bg-blue-600 text-gray-200">
    <span class="material-symbols-outlined font-medium">space_dashboard</span>
    <h3 class="ml-4 text-sm font-medium">Dashboard</h3>
  </a>
  <a routerLink="./users" [routerLinkActive]="['bg-blue-600']"
    class="mt-2 py-2 px-4 flex items-center rounded-md duration-300 cursor-pointer hover:bg-blue-600 text-gray-200">
    <span class="material-symbols-outlined font-medium">group</span>
    <h3 class="ml-4 text-sm font-medium">Users</h3>
  </a>
  <a routerLink="./projects" [routerLinkActive]="['bg-blue-600']"
    class="mt-2 py-2 px-4 flex items-center rounded-md duration-300 cursor-pointer hover:bg-blue-600 text-gray-200">
    <span class="material-symbols-outlined font-medium">package_2</span>
    <h3 class="ml-4 text-sm font-medium">Projects</h3>
  </a>

  <div class="my-3 bg-gray-600 h-[1px]"></div>
  <div class="mt-2 py-2 px-4 flex items-center rounded-md duration-300 cursor-pointer hover:bg-blue-600 text-gray-200"
    (click)="dropdown()">
    <span class="material-symbols-outlined font-medium">forum</span>
    <div class="flex items-center justify-between w-full">
      <h3 class="ml-4 text-sm font-medium">Chat box</h3>
      <span class="material-symbols-outlined font-medium rotate-180" id="arrow">expand_more</span>
    </div>
  </div>
  <div class="mt-2 text-left text-sm w-4/5 mx-auto text-gray-200 font-bold" id="submenu">
    <h1 class="mt-1 pl-5 pr-2 py-2 cursor-pointer hover:bg-blue-600 rounded-md">
      Social
    </h1>
    <h1 class="mt-1 pl-5 pr-2 py-2 cursor-pointer hover:bg-blue-600 rounded-md">
      Personal
    </h1>
    <h1 class="mt-1 pl-5 pr-2 py-2 cursor-pointer hover:bg-blue-600 rounded-md">
      Friends
    </h1>
  </div>

  <div class="my-3 bg-gray-600 h-[1px]"></div>
  <button (click)="signOut()"
    class="mt-2 py-2 px-4 flex items-center rounded-md duration-300 cursor-pointer hover:bg-blue-600 text-gray-200">
    <span class="material-symbols-outlined font-medium">logout</span>
    <h3 class="ml-4 text-sm font-medium">Sign out</h3>
  </button>
</div>