<form [formGroup]="filterForm" (submit)="onSubmit()">
  <div
    class="mt-5 p-4 flex items-center justify-between gap-2 bg-opacity-50 bg-gray-50 border border-gray-200 rounded-lg">
    <div class="text-sm text-gray-800 flex flex-wrap gap-2">
      <div>
        <span>Name/Email:</span>
        <input type="text" class="filter-input" formControlName="nameOrEmail">
      </div>
      <div>
        <span>Status:</span>
        <select name="" id="" class="filter-input cursor-pointer" formControlName="enableStatus">
          <option value="all">All</option>
          <option value="enabled">Enabled</option>
          <option value="disabled">Disabled</option>
        </select>
      </div>
      <div>
        <span>Sort:</span>
        <select name="" id="" class="filter-input cursor-pointer" formControlName="sortBy">
          <option value="id-desc">ID - ASC</option>
          <option value="">ID - DESC</option>
        </select>
      </div>
    </div>
    <div>
      <button type="submit" class="small-btn hover:text-primary">
        <span class="material-symbols-outlined">
          search
        </span>
        <span class="ml-1">Search</span>
      </button>
    </div>
  </div>
</form>