<form [formGroup]="filterForm" (submit)="onSubmit()">
  <div
    class="mt-5 p-4 flex items-center justify-between gap-2 bg-opacity-50 bg-gray-50 border border-gray-200 rounded-lg">
    <div class="text-sm text-gray-800 flex flex-wrap gap-2">
      <div>
        <span>Name/Email:</span>
        <input type="text" class="filter-input" formControlName="nameOrEmailPattern">
      </div>
      <div>
        <span>Status:</span>
        <select class="filter-input cursor-pointer" formControlName="status">
          <option value="all">All</option>
          <option value="enabled">Enabled</option>
          <option value="disabled">Disabled</option>
        </select>
      </div>
      <div>
        <span>Sort field:</span>
        <select class="filter-input cursor-pointer" formControlName="sortField">
          <option value="id">ID</option>
          <option value="updated_at">Updated At</option>
        </select>
      </div>
      <div>
        <span>Sort order:</span>
        <select class="filter-input cursor-pointer" formControlName="sortDescending">
          <option [ngValue]="true">DESC</option>
          <option [ngValue]="false">ASC</option>
        </select>
      </div>
    </div>
    <div>
      <button type="submit" class="small-btn hover:text-primary">
        <span class="material-symbols-outlined">
          search
        </span>
        <span class="ml-1">Search</span>
      </button>
    </div>
  </div>
</form>